{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'rfpsearch/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rfpsearch/css/spinner.css' %}">
</head>
<body ng-app="rfpsearch">
<div class="content" ng-controller="searchCtrl">

<div class="container-fluid">
<div class="row">

<div class="col-sm-3">
<br/>
<h3>RFP Search</h3>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <small><b>Notes</b></small><br/>
    <ul>
    <li><small>Few links in the search result may not be able to lead to the bid details page directly because of the way
        the target websites are designed. In that case, the links will lead user to the listing of all the bids which
    contains the bid of interest.</small></li>
    <li><small>For New York Power Authority website, user needs to open the website in browser first and login in order for links in the search results to work.</small></li>
    </ul>
    </div>

    <button type="button" class="btn btn-dark" ng-click="checkAllAgencies()">Select All</button>
    <button type="button" class="btn btn-dark" ng-click="uncheckAllAgencies()">Clear All</button>

{% for key, source in sources.items %}
    {% if source.2 %}
        <hr/>
        <h6>{{source.0}}</h6>
        <input type="checkbox"  id="category{{key}}" ng-model="categories['{{key}}']"
           ng-init="categories['{{key}}'] = false" ng-change="checkAllInCategory('{{key}}')"/>
        <label for="category{{key}}" style="font-size: 12px">Select/Clear All</label>
        <br/>
        <span ng-init="currentCategory = '{{key}}'"></span>
        <span ng-init="sourcesStructure[currentCategory] = []"></span>
    {% else %}
        <input type="checkbox" id="source{{key}}" name="source" value="{{key}}" ng-model="sources[{{key}}]"
           ng-init="sources[{{key}}] = false"/>
        <label for="source{{key}}" style="font-size: 12px">{{source.0}}</label>
        <span ng-init="sourcesStructure[currentCategory].push('{{key}}')"></span>
        <br/>
    {% endif %}
{% endfor %}
</div>

<div class="col-sm-9">
<br/>
<div class="row">
<div class="col-sm-3">
<input type="text" placeholder="Search" ng-model="sources['query']"/>
<button type="button" ng-click="submitQuery()">Search</button>
</div>
</div>

{% verbatim %}
<center>
    <div ng-show="showSpinner" class="loader" style="margin-top: 30vh;"></div>
</center>

<div ng-repeat="(source_name, results) in results">
    <br/>
    <hr/>
    <h5>{{source_name}}</h5>
    <div class="container table-responsive">
        <table class="table">
            <tr class="thead-dark row">
                <th class="col-sm-8">Description</th>
                <th class="col-sm-2">Start Date</th>
                <th class="col-sm-2">End Date</th>
            </tr>
            <tr ng-repeat="result in results" class="row">
                <td class="col-sm-8"><a ng-href="{{result[1]}}" target="_blank">{{result[0]}}</a></td>
                <td class="col-sm-2">
                    <small ng-show="result.length >= 3">{{result[2]}}</small>
                    <small ng-show="result.length < 3">NA</small>
                </td>
                <td class="col-sm-2">
                    <small ng-show="result.length >= 4">{{result[3]}}</small>
                    <small ng-show="result.length < 4">NA</small>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endverbatim %}
</div>

<script src="{% static 'rfpsearch/js/jquery.min.js' %}"></script>
<script src="{% static 'rfpsearch/js/underscore-min.js' %}"></script>
<script src="{% static 'rfpsearch/js/angular.min.js' %}"></script>
<script src="{% static 'rfpsearch/js/bootstrap.min.js' %}"></script>
<script src="{% static 'rfpsearch/js/app.js' %}"></script>

</div>
</div>
</div>
</body>
</html>